/*
 * BREAKPOINTS scss stylesheet
 * stephen@sugarbutty.com
 * created February 2016
 */

$tiny: 320px; // mobile small
$smaller: 375px; // mobile medium
$small: 425px; // mobile large
$medium: 768px; // tablet
$large: 1024px; // laptop
$xlarge: 1440px; // large laptop
