/*
 * BREAKPOINTS scss stylesheet
 * stephen@sugarbutty.com
 * created February 2016
 */

$tiny: 320px; // small mobile
$small: 425px; // mobile
$medium: 768px; // tablet
$large: 1024px; // laptop
$xlarge: 1440px; // large laptop
