/*
 * BREAKPOINTS scss stylesheet
 * stephen@sugarbutty.com
 * created February 2016
 */

$tiny: 320px;
$small: 425px; // iPhone 6 Plus landscape
$medium: 768px; // tablet
$large: 1024px; // laptop
$xlarge: 1440px; // large laptop
