/*
 * FORMS scss stylesheet
 * stephen@sugarbutty.com
 * created February 2016
 */


/* BUTTON styles 
   ========================================================================== */


.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
}

.button {
	border: none;
  	box-shadow: 0 2px 5px rgba(0,0,0,0.26);
	font-weight: bold;
	padding: 10%;
	
  	&.btn-flat {
		background: transparent;
    	box-shadow: none;
  	}
	
	&.btn-menu {
		width: 1.5em;
		height: 1.5em;
		font-size: 4em;
		top: -31px;
		position: absolute;
	}
	
	&.circle {
		width: 60px;
    	height: 60px;
    	margin-top: 2em;
	}
}

.btn {
  @extend .button;
}

