/*
 * LINKS scss stylesheet
 * stephen@sugarbutty.com
 * created February 2016
 */



/* BASE properties - ul, ol, li, dl, dt, dd
   ========================================================================== */


/* 
 * ul ol  
*/

ul, .ul, ol, .ol {
	margin: 0;
	padding: 0;
}

/* 
 * li
*/

li, .li {
	margin: 0;
}


/* 
 * dl
*/

dl, .dl {
	margin: 0;
}


/* 
 * dt
*/

dt, .dt {
	margin: 0;
}


/* 
 * dd
*/

dd, .dd {
	margin: 0;
}