/*
 * LINKS scss stylesheet
 * stephen@sugarbutty.com
 * created February 2016
 */



/* BASE properties - ul, ol, li, dl, dt, dd
   ========================================================================== */


/* 
 * ul ol  
*/

ul, .ul, ol, .ol {
	margin: 0;
	padding: 0;
}

/* 
 * li
*/

li, .li {
	margin: 0;
}


/* 
 * dl
*/

dl, .dl {
	margin: 0;
}


/* 
 * dt
*/

dt, .dt {
	margin: 0;
}


/* 
 * dd
*/

dd, .dd {
	margin: 0;
}


/* CUSTOM properties - ul, ol, li, dl, dt, dd
   ========================================================================== */


/* 
 * ul  
*/

ul, .ul, ol, .ol {
	/* styles */
}



/* SCREEN WIDTH BREAKPOINTS
   ========================================================================== */


/* Tiny screens */
@media screen and (max-width: 320px) {
	/* styles */
}
/* Small screens */
@media screen and (max-width: 550px) {
	/* styles */
}
/* Medium screens */
@media all and (max-width: 768px) {
	/* styles */
}
