/*
 * TEMPLATES/FOOTER scss stylesheet
 * stephen@sugarbutty.com
 * created March 2016
 */


/* footer */

.page-footer {
	color: $white;
	background-color: $black;
	width: 100%;
	padding: $pad;
	transition: background-color .3s;
	
	.copyright {
		padding: 20px;
	}
	
	.navigate {
		display: flex;
		justify-content: center;
	}

	.toolbar {
		display: flex;
		justify-content: space-between;
		position: fixed;
		bottom: 0;
		margin: 0;
		flex-direction: column;
		z-index: 10;
		width: 44px;
		
		&.footer-toolbar {
			right: 0;
		}
		
		&.footer-sharebar {
			left: 0;
		}
		
		.control {
				position: relative;
				height: 100%;
		}
		
		.footer-tools {
			display: flex;
			flex-direction: column;
			transform: translate3d(0px,100%,0px);
			transition: transform .3s;
			
			&.open {
				transform: translate3d(0px,0,0px);
				height: auto;
			}
		}
	}
	
	.btn {
		box-shadow: none;
	}
	
	.btn-share {
		border: none;
		height: 44px;
		
		img {
			width: 100%;
		}
	}
	
	.icon {
		font-size: 36px;
	}
}