/*
 * TEMPLATES/FOOTER scss stylesheet
 * stephen@sugarbutty.com
 * created March 2016
 */


/* footer */

.page-footer {
	color: $white;
	width: 100%;
	padding: $pad;
	transition: background-color .3s;

	.toolbar {
		display: flex;
		justify-content: space-between;
		position: fixed;
		bottom: 0;
		right: 0;
		margin: 0;
		flex-direction: column;
		
		.control {
			position: relative;
			z-index: 100;
		}
		
		.footer-tools {
			display: flex;
			flex-direction: column;
			transform: translate3d(0px,100%,0px);
			transition: transform .3s;
			
			&.open {
				transform: translate3d(0px,0,0px);
				height: auto;
			}
		}
	}
	
	.icon {
		font-size: 35px;
	}
}