/*
 * TEMPLATES/HERO scss stylesheet
 * stephen@sugarbutty.com
 * created March 2016
 */


/* hero */

.hero {
	position: relative;
	left: 0;
	top: 0;
	transition: all .6s;
	width: 100%;
	font-size: 300%;
	
	.hero-media {
		background-image: url('/images/banner.png');
		background-attachment: fixed;
		background-size: cover;
		align-items: center;
    	justify-content: center;
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		-webkit-filter: blur(5px);
	}
	
	.hero-content {
		background: transparent;
		display: flex;
		align-items: center;
		flex-direction: column;
    	justify-content: center;
		height: 100%;
		width: 100%;
		position: relative;
		top: 0;
		padding: 0;
		
		.btn {
			border-radius: 10px;
			padding: 20px;
    		display: flex;
    		flex-direction: column;
			align-items: center;
			text-align: left;
			max-width: 7em;
			box-shadow: none;
			background-color: transparent;
			
			.icon {
				font-size: 4em;
    			border: 2px solid;
    			text-shadow: 2px 2px #000;
    			border-radius: 4px;
			}
			
			.code {
				margin-bottom: 20px;
    			opacity: .8;
    			text-shadow: 4px 4px #000;
				font-size: 2em;
				text-align: center;
			}
		}
	}

}