/*
 * TEMPLATES/VIEW scss stylesheet
 * stephen@sugarbutty.com
 * created March 2016
 */


/* view */

.view {
	
	.section {
		display: flex;
		align-items: stretch;
    	justify-content: space-between;
		
		@media screen and (max-width: $small) {
    		flex-direction: column;
  		}
		
		.inner {
			padding: 10px;
		}
	}
	
	.hgroup {
		padding: 5%;
	}
	
	.read {
		padding: 5%;
	}
}