<header id='header' class='Header bg-dark'  ng-class='{navbaropen:data.navbaropen, sidebaropen:data.sidebaropen}'>

	<!-- top bar -->
	<div class='topbar'>
		
		<!-- menu control -->
		<div class="menu-control">
			<button class="btn btn-flat btn-menu" ng-click="fn.navbarcontrol($event)"  ng-class='{animate:data.navbaropen}'><i class="material-icons">menu</i></button>
		</div> 
		
		<!-- logo -->
		<div class='page-logo'>
			<h1 class='h1'>
				<dx-logo></dx-logo>
			</h1>
		</div>
		
		<!-- dashboard control -->
		<div class="menu-control">
			<button class="btn btn-flat btn-menu" ng-click="fn.sidebarcontrol($event)" ng-class='{animate:data.sidebaropen}'><i class="material-icons">dashboard</i></button>
		</div> 
		
	</div>

	<!-- nav bar -->
	<nav class='navbar overlay' ng-style='{height: data.screenheight+ "px"}'>

		<!-- menu -->
		<div class='menu-wrap'>
			<dx-menu></dx-menu>
		</div>
		
	</nav>
	
	<!-- side bar -->
	<div class='sidebar overlay' ng-style='{height: data.screenheight+ "px"}'>

		<div class='login'>
			<h2>Logo-in</h2>
		</div>
		
	</div>

</header>