<header id='header' class='header page-header bg-dark' ng-class='{open:data.menuopen}'>

	<!-- top bar -->
	<div class='topbar'>

		<!-- logo -->
		<div class='page-logo'>
			<h1 class='h1'>
				<dx-logo></dx-logo>
			</h1>
		</div>
		
	</div>

	<!-- nav bar -->
	<nav class='navbar bg' ng-style='{height: data.screenheight+ "px"}'>
		
		<!-- menu control -->
		<div class="menu-control">
			<button class="btn btn-flat btn-menu" ng-click="menucontrol($event)"><i class="material-icons">menu</i></button>
		</div> 
		
		<dx-menu></dx-menu>
	</nav>

</header>