	<div class='hero bg' ng-style='{height: data.screenheight+ "px"}'>
		<div class='hero-media'></div>
		<div class='hero-content'>
			
			<!-- <div class='quote'>
				<blockquote class='blockquote'>
					<p>Data is the new oil</p>
					<h6>- Clive Humby</h6>
				</blockquote>		
			</div>-->
			
			<button class='btn bg-dark' ng-click='fn.scrollTo()'>
				
				<code class='code'>Data, Design, Development</code>
				
				<i class="material-icons icon">exit_to_app</i>
				
			</button>
						
		</div>		
	</div>