/*
 * MODULES/CARDS scss stylesheet
 * stephen@sugarbutty.com
 * created March 2016
 */


/* CARDS styles 
   ========================================================================== */


.cards {
	display: flex;
	flex-direction: column;
    padding: 0 0 3em;
    justify-content: flex-start;
    position: relative;
	overflow: hidden;
	
	@media screen and (orientation: landscape) {
		margin: auto;

	}
	
	.card {	
		display: block;
		line-height: 200%;
    	width: 100%;
		
		.cardlink {
			display: block;
			padding: 10px 85px 10px 18px;
			box-shadow: 2px 2px 5px rgba(0,0,0,0.26);
			text-decoration: none;
			margin: 5% 5% 0 0;
			position: relative;
			text-transform: capitalize;
			
			&:after {
				position: absolute;
				font-size: 2em;
				opacity: .5;
				line-height: 1;
				right: 8%;
				top: 13%;
				@extend .material-icons;
        		content: 'fiber_manual_record';
			}
			
			&.active:after {
				opacity: 1;
        		content: 'fiber_smart_record';
				right: 5%;
			}
			
			&.active:hover {
				cursor: pointer;
			}
		}
	}
}