/*
 * MODULES/EFFECTS scss stylesheet
 * stephen@sugarbutty.com
 * created March 2016
 */

$glow: $Acyan;


/* EFFECTS styles 
   ========================================================================== */


.effects {
	
	// neon glow
	&.neon {
		transition: all 0.5s;
		animation: neon 1.5s ease-in-out infinite alternate;
	}
}
// invert colours
.invert {
	-webkit-filter: invert(100%);
}


/* ANIMATION styles 
   ========================================================================== */

@-webkit-keyframes neon {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px $glow, 0 0 70px $glow, 0 0 80px $glow, 0 0 100px $glow, 0 0 150px $glow;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px $glow, 0 0 35px $glow, 0 0 40px $glow, 0 0 50px $glow, 0 0 75px $glow;
  }
}