/*
 * MODULES/HEADER scss stylesheet
 * stephen@sugarbutty.com
 * created February 2016
 */


/* HEADER styles 
   ========================================================================== */


.Header {
	color: $white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	padding: 0;
	top: 0;
	position: fixed;
	height: auto;
	z-index: 2;
	transition: background-color .6s;

	// topbar
	.topbar {
		display: flex;
		justify-content: space-between;
		padding: 0 20px;
		box-shadow: 0 2px 5px rgba(0,0,0,0.26);
		position: relative;
		z-index: 1;
		
		@media screen and (max-width: $small) {
			padding: 0 10px;
		}
				
		.menu-control {
			display: flex;
			align-items: center;
			transition: all .6s;		
		}		
		
		.menu {
			padding: $pad;
			margin: 5%;
    		min-height: 100%;
    		display: flex;
    		justify-content: space-between;
    		align-items: center;			
		}
		
		.btn-menu {
			display: flex;
			font-size: 4em;
			padding: 0;
			transform: rotate(0);
			transition: transform .3s ease-in-out;
			
			&.animate {
				transform: rotate(-90deg);
			}
			
			@media screen and (max-width: $small) {
					font-size: 3em;
			}
		}		
		    
		.page-logo {
			.h1 {
				font-size: 450%;
				margin-bottom: 0;
				opacity: 1;
				text-align: center;
				
				@media screen and (max-width: $small) {
					font-size: 300%;
				}
			}
		}
				
	}
	
	// navbar
	&.open .navbar {
			transform: translate3d(0px,0px,0px);
	}
	
	.navbar {
		display: flex;	
		font-size: 200%;
		padding: 0;
		position: absolute;
		transform: translate3d(-100%,0px,0px);
		transition: transform .3s ease-in;
		overflow: auto;		
	}
}