/*
 * MODULES/HEADER scss stylesheet
 * stephen@sugarbutty.com
 * created February 2016
 */


/* HEADER styles 
   ========================================================================== */


.Header {
	color: $white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	padding: 0;
	top: 0;
	position: fixed;
	height: auto;
	z-index: 2;
	transition: background-color .6s;

	// topbar
	.topbar {
		display: flex;
		justify-content: space-between;
		padding: 0 5px;
		position: relative;
		z-index: 1;
		background-color: rgba(0, 0, 0, 0.2);
				
		.control {
			display: flex;
			align-items: center;
			transition: all .6s;		
		}		
		
		.menu {
			padding: $pad;
			margin: 5%;
    		min-height: 100%;
    		display: flex;
    		justify-content: space-between;
    		align-items: center;			
		}
		
		.btn-menu {
			display: flex;
			font-size: 4em;
			padding: 0;
			transform: rotate(0);
			transition: transform .3s ease-in-out;
			background: transparent;
			border: none;
			outline: none;
			box-shadow: none;
			
			&.control-navbar.animate {
				transform: rotate(-90deg);
			}
			
			&.control-sidebar.animate {
				transform: rotate(90deg);
			}
			
			@media screen and (max-width: $small) {
					font-size: 3em;
			}
		}		
		    
		.page-logo {
			.h1 {
				font-size: 350%;
				margin-bottom: 0;
				opacity: 1;
				text-align: center;
				outline: none;
				
			}
		}
				
	}
	
	// navbar
	&.navbaropen .navbar {
			transform: translate3d(0px,0px,0px);
	}
	
	.navbar {
		display: flex;	
		font-size: 160%;
		padding: 0;
		position: absolute;
		transform: translate3d(-100%,0px,0px);
		transition: transform .3s ease-in;
		overflow: auto;		
	}
	
	// sidebar
	&.sidebaropen .sidebar {
			transform: translate3d(0px,0px,0px);
	}
	
	.sidebar {
		display: flex;	
		font-size: 185%;
		padding: 0;
		position: absolute;
		transform: translate3d(100%,0px,0px);
		transition: transform .3s ease-in;
		overflow: auto;	
		right: 0;
	}
	
}