/*
 * MODULES/LOGO scss stylesheet
 * stephen@sugarbutty.com
 * created February 2016
 */


/* LOGO styles 
   ========================================================================== */


.logo {
	font-size: 100%;
	text-transform: none;
    font-variant: small-caps;
    transition: color .3s;
	font-family: $brandfont;

	.logo-span {

	}
}