<header class="header header-main bg flex flex-column justify-start fixed width-100 z-index_1" ng-class="{collapsed:!data.menuopen}">
		
	<div class="header-inner flex flex-wrap justify-start">
			
			<!-- banner -->
            <div class="banner flex justify-center" style="
    width: 100%;
">
            	<h1 class="h1-banner">
					<dx-logo></dx-logo>
				</h1>
            </div>
			
			<!-- menu -->
            <div class="menu flex align-items_center justify-center flex-grow  bg-dark">
            	<dx-menu></dx-menu>
            </div> 
			
			
			
    	</div>
	
		
</header>