<article>
	
	<header class='hgroup'>
		<h1>Bacon bacon bacon</h1>
		<h2>Tri-tip tenderloin pork chop jowl</h2>
		<h3>Pancetta prosciutto</h3>
		<h4>H4 text</h4>
		<h5>H5 text</h5>
		<h6>H6 text</h6>
		<a ng-href='#/about'>About</a>
	</header>

<section class='read'>
<p>
	Bacon ipsum dolor amet short ribs kielbasa pancetta prosciutto, bacon jowl landjaeger swine frankfurter andouille salami ham cow leberkas. Tri-tip tenderloin pork chop jowl biltong. Tenderloin brisket meatball biltong andouille tongue. Bresaola chuck ground round spare ribs, turducken jowl beef ribs tail turkey. Short ribs beef brisket leberkas, t-bone ham short loin turducken pastrami hamburger doner shoulder.
</p>
<p>
	Bacon ipsum dolor amet short ribs kielbasa pancetta prosciutto, bacon jowl landjaeger swine frankfurter andouille salami ham cow leberkas. Tri-tip tenderloin pork chop jowl biltong. Tenderloin brisket meatball biltong andouille tongue. Bresaola chuck ground round spare ribs, turducken jowl beef ribs tail turkey. Short ribs beef brisket leberkas, t-bone ham short loin turducken pastrami hamburger doner shoulder.
</p>
<p>
	Bacon ipsum dolor amet short ribs kielbasa pancetta prosciutto, bacon jowl landjaeger swine frankfurter andouille salami ham cow leberkas. Tri-tip tenderloin pork chop jowl biltong. Tenderloin brisket meatball biltong andouille tongue. Bresaola chuck ground round spare ribs, turducken jowl beef ribs tail turkey. Short ribs beef brisket leberkas, t-bone ham short loin turducken pastrami hamburger doner shoulder.
</p>
</section>
	
	<footer>FOOTER</footer>
</article>